trigger:
- main

name: 0.2.0.$(Rev:r)

pool:
  vmImage: ubuntu-latest

steps:

- task: UseDotNet@2
  displayName: 'Use .NET SDK (10.0)'
  inputs:
    packageType: sdk
    version: 10.0.100
    includePreviewVersions: true
    installationPath: $(Agent.ToolsDirectory)/dotnet
    
- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '**/Djohnnie.SolarEdge.ModBus.TCP.csproj'
    arguments: '--configuration Release'

- task: DotNetCoreCLI@2
  inputs:
    command: 'pack'
    packagesToPack: '**/Djohnnie.SolarEdge.ModBus.TCP.csproj'
    verbosityPack: 'Detailed'
    versioningScheme: 'byBuildNumber'

- task: NuGetCommand@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
    nuGetFeedType: 'external'
    publishFeedCredentials: 'nuget.org (Djohnnie)'