trigger:
- main

name: 0.2.0.$(Rev:r)

pool:
  vmImage: ubuntu-22.04

steps:

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '**/Djohnnie.SolarEdge.ModBus.TCP.csproj'
    arguments: '--configuration Release'

- task: DotNetCoreCLI@2
  inputs:
    command: 'pack'
    packagesToPack: '**/Djohnnie.SolarEdge.ModBus.TCP.csproj'
    verbosityPack: 'Detailed'
    versioningScheme: 'byBuildNumber'

- task: NuGetCommand@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
    nuGetFeedType: 'external'
    publishFeedCredentials: 'nuget.org (Djohnnie)'